.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1 {
  margin-top: 5px;
}

.logo {
  height: 2rem;
  margin-top: 15px;
}

.header a {
  text-decoration: none; /* Remove underline */
}

.services {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 10px;
}

.services a:hover {
  text-decoration: underline; /* Underline on hover */
}

.services a {
  color: darkgray;
}

html {
  scroll-behavior: smooth;
}
